# dependencies
node_modules/
frontend/node_modules/

# build
dist/
frontend/dist/
build/

# env
.env
.env.local

# logs
npm-debug.log*
yarn-debug.log*

# vite
.vite/

# editor
.vscode/
.idea/

# system
.DS_Store
Thumbs.db